/seisbench-main/
/Polarity-model/
*.pyc
__pycache__/
*.ipynb_checkpoints
.env
.gitignore
*.pytest_cache/
/checkpoints_*/
Update_model.ipynb
/datasets/
pretrained_model/
/Model_Tensorflow_Hdf5/
/checkpoints*/
docs/_build/
*.egg-info/
dist/
build/
.eggs/