/seisbench-main/
/Polarity-model/
*.pyc
__pycache__/
*.ipynb_checkpoints
.env
.gitignore
*.pytest_cache/
/checkpoints_*/
Update_model.ipynb
/datasets/
pretrained_model/
/Model_Tensorflow_Hdf5/
/checkpoints*/

# Documentation build artifacts
docs/_build/

# Python build artifacts
*.egg-info/
dist/
build/
.eggs/
.venv/
venv/
docs/_build/
*.egg-info/
dist/
build/
.eggs/
/tests/
/Pre-model/
Methods_Valid.ipynb